@charset "utf-8";
header{
	margin:0px;
	padding:0px;
	color:#000000;
	font-family: 'Century';
}
body{
	margin: 0px;
	padding: 0px;
	background-color: #003366
		
}
p{color:#ffffff;}
a{
	color:#ffffff;
	tesxt-decoration: none;
}
a:visited{
	color:#cc6666;
}
#listWorks{
	font-family: 'Century';
}
